<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <!-- <input type="text" id="r" model="m"> -->
  <!-- <div id="app">
    <input type="text" id="r" v-model="value">
    <span>{{value}}</span>
  </div> -->
  <div id="app">
    <span>{{name}}</span>今年<span>{{age}}</span>岁啦
    <br />
    <input type="text" v-model="age">
  </div>
  <button id="btn">age+1</button>

  <!-- <script src="./reactive.js"></script> -->
  <!-- <script src="./reactive0.js"></script> -->
  <!-- <script src="./reactive1.js"></script> -->
  <script src="./reactive2.js"></script>
  <script>
  </script>
</body>

</html>